<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>bahmni-events</id>
	<name>Bahmni Events</name>
	<version>1.0.0-SNAPSHOT</version>
	<package>org.bahmni.module.events</package>
	<author>Bahmni</author>
	<description>Bahmni events module to send business events which can be used by external services</description>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module>org.bahmni.module.bahmnicore</require_module>
		<require_module>org.bahmni.module.appointments</require_module>
	</require_modules>

	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>org.bahmni.module.events.api.listener.PatientAdvice</class>
	</advice>

	<advice>
		<point>org.openmrs.module.appointments.service.AppointmentsService</point>
		<class>org.bahmni.module.events.api.listener.AppointmentAdvice</class>
	</advice>

	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>org.bahmni.module.events.api.listener.EncounterAdvice</class>
	</advice>

	<advice>
		<point>org.openmrs.module.appointments.service.AppointmentRecurringPatternService</point>
		<class>org.bahmni.module.events.api.listener.RecurringAppointmentAdvice</class>
	</advice>

	<activator>org.bahmni.module.events.api.EventsActivator</activator>
</module>

